body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: inherit;
  background: none;
  border: none;
}

img {
  display: block;
}

header {
  background-color: #e7e9fc;
}

footer {
  background-color: #2e2f42;
}

ul {
  list-style-type: none;
}

.m-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.top-line {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.title-h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

.title-h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.main-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

button {
  cursor: pointer;
}

/* header */
.logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;

  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-web {
  color: #2e2f42;
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu-nav {
  align-items: flex-start;
  gap: 40px;
}
.container {
  display: flex;
}

.contacts-list {
  gap: 40px;
}
.menu-nav-links {
  padding: 24px 0;

  color: #2e2f42;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.menu-nav-links:hover {
  color: #404bbf;
}
.menu-nav-links:first-child:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.links {
  text-decoration: none;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.links:hover,
.links:focus {
  color: #404bbf;
}

/* Main */

/* title */
.main-title {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title-header {
  max-width: 496px;

  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
}
.main-title-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}
/* values */

.values {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.values-list {
  gap: 24px;
}

.values-list-item {
  width: calc((100% - 72px) / 4);
}

.values-list-item .title-h3 {
  margin-bottom: 8px;
}

/* team */
.team {
  padding: 120px 0;

  background-color: #f4f4fd;
  text-transform: capitalize;
}

.title-h2 {
  margin-bottom: 72px;
}

.team-list {
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-desc {
  padding: 32px 0;
}

.team-list-item-desc .title-h3 {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item-desc .main-text {
  text-align: center;
}

/* Footer */

footer .logo {
  color: #4d5ae5;
}

footer .logo-web {
  color: #f4f4fd;
}

.f-text {
  color: #f4f4fd;
}
